html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 80px);
}

* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}

.about > * {
  list-style: None;
}

body {
  background-color: black;
}

nav {
  background-color: black;
}

.navbar-toggler {
  background-color: white;
  border-radius: 0;
}

.nav-link {
  color: white;
}

.active {
  background-color: white;
}

.nav-link:hover {
  color: gray;
}

#brand {
  color: white;
}

.main {
  padding-top: 30px;
}
section {
  margin: 50px;
  padding: 15px;
  border: 2px 2px 2px 2px black;
  border-style: double;
}

.highlight {
  background-color: red;
}
